
/* Header */
header {
    position: sticky;
    top: 0;
    z-index: 100;
}
.navbar-custom {
    background-color: rgb(0, 127, 76, 0.85);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    min-height: 80px;
}
.navbar-custom .logo-letter,
.footer-custom .logo-letter {
    background-color: #C6DB4B;
    color: #005C37;
    font-weight: 700;
    border-radius: 15px;
}
.navbar-custom .navbar-brand span,
.footer-custom .footer-brand span {
    color: white;
    font-weight: 600;
}
.navbar-custom li a {
    color: white;
    font-weight: 500;
}
.navbar-custom li a:hover {
    color: #C6DB4B;
    font-weight: 500;
}
.cart-icon:hover {
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 10px;
}
.cart-icon svg{
    height: 25px;
    width: 25px;
}
.navbar-custom .btn-shop {
    background-color: #C6DB4B;
    color: #005C37;
    font-weight: 500;
    border-radius: 10px;
}
/* Footer */
.footer-main {
  background-color: #00804C;
  color: #e9f5ee;
}

.footer-title {
  font-weight: 600;
  margin-bottom: 1rem;
}

.footer-text {
  color: #cfe8dc;
  font-size: 0.95rem;
  line-height: 1.6;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 0.5rem;
}

.footer-links a {
  color: #cfe8dc;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}
.footer-divider {
  border-color: rgba(255,255,255,0.15);
  margin: 3rem 0 2rem;
}
.footer-copy {
  color: #cfe8dc;
  font-size: 0.9rem;
}
.footer-bottom-links a {
  color: #cfe8dc;
  text-decoration: none;
  font-size: 0.9rem;
}
